#pong {
    min-width: 300px;
}

#gauche, #droite {
    font-size: 2.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

#newGame {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    font-style: italic;
}

#score {
    font-size: 1.5rem;
}